@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap'); 
 
/* variable Css*/ 
 
:root{ 
    --header-height:3rem; 
   /* Color selction according to IMAGE Color */ 
   --hue-color:190; 
   /* HSL color mode */ 
   --first-color:hsl(var(--hue-color),64%,22%); 
   --first-color-second:hsl(var(--hue-color),64%,15%);  
   --first-color-alt:hsl(var(--hue-color),64%,15%); 
   --title-color:hsl(var(--hue-color),64%,18%); 
   --text-color:hsl(var(--hue-color),24%,35%); 
   --text-color-light:hsl(var(--hue-color),8%,60%); 
   --input-color:hsl(var(--hue-color),24%,97%); 
   --body-color:hsl(var(--hue-color),100%,99%); 
   --white-color:#fff;
   --scroll-bar-color:hsl(var(--hue-color),12%,90%) ;
   --scroll-thumb-color:hsl(var(--hue-color),12%,75%); 
    
   /* Font and typgrapghy */ 
   --bodyfont:'Open Sans', sans-serif; 
   --title-font:'Raleway', sans-serif; 
   --biggest-font-size:2.5rem; 
   --h1-font-size:1.5rem; 
   --h2-font-size:1.25rem; 
   --h3-font-size:1rem; 
   --normal-font-size:.938rem; 
   --small-font-size:.813rem; 
   --smaller-font-size:.75rem;
   /* FONT WEIGHT  */ 
    
   --font-weight:500; 
   --font-semi-bold:600; 
    
   /* Margen bottom */ 
   --mb-0-25:.25rem;  
   --mb-0-75:.75rem; 
   --mb-1:1rem; 
   --mb-1-25:1.25rem; 
   --mb-1-5:1.5rem; 
   --mb-2:2rem; 
   --mb-2-5:2.rem; 
  /* Z index */ 
  --z-toptip:10; 
  --z-fixed:100; 
  /* hover overlay*/ 
  --img-transition:.3s; 
  --img-hidden:hidden; 
  --img-scale:scale(1.1);

} 
 
@media screen  and (min-width:968px){
    :root{ 
      --bodyfont:'Open Sans', sans-serif; 
      --title-font:'Raleway', sans-serif; 
      --biggest-font-size:4rem; 
      --h1-font-size:2.25rem; 
      --h2-font-size:1.75rem; 
      --h3-font-size:1.25rem; 
      --normal-font-size:1rem; 
      --small-font-size:.875rem; 
      --smaller-font-size:.813rem;
    }
} 
/* ================ BASE ============== */ 
*{
   box-sizing: border-box; 
   padding: 0; 
   margin: 0;
}
html{ 
  scroll-behavior: smooth; 
} 
body{ 
  margin: var(--header-height) 0 0 0; 
  font-family: var(--bodyfont); 
  font-size: var(--normal-font-size); 
  background-color: var(--body-color); 
  color: var(--text-color);
} 
 
h1,h2,h3{ 
  color: var(--title-color); 
  font-weight: var(--font-semi-bold); 
  font-family: var(--title-color);
} 
ul{ 
  list-style:none;
} 
a{ 
  text-decoration: none;
} 
img,video{ 
  max-width: 100%; 
  height: auto;
} 
button,input{ 
  border: none; 
  font-family: var(--bodyfont); 
  font-size: var(--normal-font-size);
} 
button{ 
  cursor: pointer;
} 
input{ 
  outline: none;
}
/* ============= Reusable CSS ClASS ============== */  
.section{ 
  padding: 4rem 0 2.5rem;
} 
.section_title{ 
  font-size:var(--h2-font-size) ; 
  color: var(--title-color); 
  text-align: center; 
  text-transform: capitalize; 
  margin-bottom: var(--mb-2);
} 
.container{ 
  max-width: 968px; 
  /* max-width:1300px; */
  margin-right:var(--mb-1); 
  margin-left: var(--mb-1);
  
} 
.grid{ 
  display: grid; 
  gap: 1.5rem; 
   

}
/* HEADER */ 
.header{ 
  width: 100%; 
  position:fixed; 
  top: 0; 
  left: 0; 
  z-index: var(--z-fixed); 
  background:transparent;  
  height: auto;
} 
/* Nav */ 
.nav{ 
   height: var(--header-height); 
   display: flex; 
   justify-content: space-between; 
   align-items: center;
}
 
.nav_logo,.nav_toggle{ 
  color: var(--white-color)!important; 
} 
.nav_logo{ 
  font-weight: var(--font-semi-bold); 
} 
 
.nav_toggle{ 
  font-size: 1.2rem; 
  cursor: pointer;
} 
 
.nav_menu{ 
  position: relative;
} 
 
@media screen and (max-width:767px) {
  .nav_menu{ 
    position: fixed; 
    background: var(--body-color); 
    top: 0; 
    right: -100%; 
    width:70%; 
    height: 100%; 
    box-shadow: -1px 0 4px hsla(--hue-color),64%,100 ; 
    padding: 3rem; 
    transition: .4s;
  }
} 
 
.nav_list{ 
  display: flex; 
  flex-direction: column; 
  row-gap: 2.5rem;
} 
 
.nav_link{ 
  color: var(--text-color-light); 
  font-weight: var(--font-semi-bold); 
  text-transform: uppercase;
}  
.nav_link:hover{ 
  color: var(--text-color);
} 
.nav_close{ 
  position: absolute; 
  top: .75rem; 
  right: 1rem; 
  font-size: 1.5rem;  
  color: var(--title-color); 
  cursor: pointer;
} 
 
/* show Menu */ 
.show-menu{ 
  right: 0;
}  
/* Change background Header */ 
.scroll-header{ 
  background-color: var(--body-color); 
  box-shadow:0 0 4px hsla(var(--hue-color),64%,15%,.15) ;
} 
.scroll-header .nav_logo , .scroll-header .nav_toggle{ 
  color: var(--title-color)!important; 
} 

 
/* Home section */ 
.home_img{ 
  position:absolute; 
  top: 0; 
  left:0; 
  width:100%; 
  height: 100vh; 
  object-fit: cover; 
  object-position: 83%;
}  
.home_container{ 
  position: relative; 
  height: calc(100vh - var(--header-height)); 
  align-content: center; 
  row-gap: 3rem;
}
.home_data_subtitle,.home_data-title,.home_social_link, 
.home_info{ 
  color: var(--white-color);
} 
.home_data-subtitle{ 
  display: block; 
  font-weight: var(--font-semi-bold); 
  margin-bottom: var(--mb-0-75);
} 
.home_data-title{ 
  font-size: var(--biggest-font-size); 
  font-weight:var(--font-weight);  
  margin-bottom: var(--mb-2-5);

} 
 
.home_social{ 
  display: flex; 
  flex-direction: column; 
  row-gap: 1.5rem;
} 
.home_social_link{ 
  font-size: 1.3rem; 
  width: max-content;
} 
.home_info{ 
  background: var(--first-color); 
  display: flex; 
  padding: 1.5rem 1rem; 
  align-items: center; 
  column-gap: .5rem; 
  position: absolute; 
  right: 0; 
  bottom: 1rem; 
  width: 228px;
} 
.home_info-title{ 
  display: block; 
  font-size: var(--small-font-size);  
  font-weight: var(--font-semi-bold); 
  margin-bottom: var(--mb-0-75);
} 
.home_info-button{ 
  font-size: var(--smaller-font-size);
} 
.home_info-overlay{ 
  overflow: var(--img-hidden);
} 
.home_info-img{ 
  width:145px; 
  transition: .3s ease;
} 
.home_info-img:hover{ 
  transform: scale(1.4);
} 
 
/* Button */ 
 .button{ 
   display: inline-block; 
   background-color: var(--first-color); 
   color: var(--white-color); 
   padding: 1rem 2rem; 
   font-weight: var(--font-semi-bold); 
   transition: .3s;
 } 
 .button:hover{ 
   background-color: var(--first-color-alt); 
 } 
 .button--flex{ 
   display: flex; 
   align-items: center; 
   column-gap: .25rem; 
 } 
 .button--link{ 
  background: none; 
  padding: 0;
 } 
 .button--link:hover{ 
   background: transparent;
 } 
  
 /* About */ 
 .about_data{ 
   text-align: center;
 } 
 .about_container{ 
   row-gap: 2.5rem;
 } 
 .about_description{ 
   margin-bottom: var(--mb-2);
 } 
.about_img{ 
  display: flex; 
  column-gap: 1rem; 
  align-items: center; 
  justify-content: center;
} 
.about_img_overlay{ 
 overflow: var(--img-hidden); 
} 
.about_img_one{ 
  width: 130px; 
  transition: .3s;
} 
.about_img_two{ 
  width:180px; 
  transition: .3s;
} 
.about_img_one:hover,.about_img_two:hover{ 
  transform: var(--img-scale);
}

/* DISCOVER  */ 
.discover_card{ 
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}
.discover_data{ 
  position: absolute;
  bottom: 1.5rem;
  left: 1rem; 
} 
.discover_title , .discover_description{ 
  color: var(--white-color);
} 
.discover_title{ 
  font-size: var(--h3-font-size); 
  margin-bottom: var(--mb-0-25);
}

.discover_description{ 
  display: block;
  font-size: var(--smaller-font-size);
}

.discover_img{ 
  transition: var(--img-transition);
}

.discover_img:hover{ 
  transform: var(--img-scale);
} 

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{ 
  background-image: none;
}

/* Experience CSS */

.experience_container{ 
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}
.experience_content{ 
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}

.experience_number{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-25);

}
.experience_description{ 
  font-size: var(--small-font-size);
}
.experience_img{
  position: relative;
  padding-bottom: 2rem;
}

.experience_overlay:nth-child(1){
  width: 263px;
  margin-right: 2rem;
}

.experience_overlay:nth-child(2){
  width: 120px;
  position:absolute;
  top: 2rem;
  right: 0;
}

.experience_img-one,.experience_img-two{ 
  transition: var(--img-transition);
}

.experience_overlay{ 
  overflow: var(--img-hidden);
}